<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>About</title>
</head>
<body>
	<div class ="main-content">
{{>header}}
<img src="/img/john.jpg">
</div>
{{>footer}}
</body>
</html>