<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>About</title>
</head>
<body>
	<div class ="main-content">
{{>header}}
<p>This site is created by suraj kumar. It uses data from darksky.net and mapbox.com</p>
<img src="/img/weather.png">
</div>
{{>footer}}
</body>
</html>